<a href="https://colab.research.google.com/github/OmkarBhosale06/LC50_ML/blob/main/LC50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [6]:
dataset = '/content/qsar_fish_toxicity.csv'
data = pd.read_csv(dataset)

In [7]:

data.head()

    CIC0  SM1_Dz(Z)  GATS1i  NdsCH  NdssC  MLOGP  LC50 [-LOG(mol/L)]
0  3.260      0.829   1.676      0      1  1.453               3.770
1  2.189      0.580   0.863      0      0  1.348               3.115
2  2.125      0.638   0.831      0      0  1.348               3.531
3  3.027      0.331   1.472      1      0  1.807               3.510
4  2.094      0.827   0.860      0      0  1.886               5.390

In [8]:
data.tail()

      CIC0  SM1_Dz(Z)  GATS1i  NdsCH  NdssC  MLOGP  LC50 [-LOG(mol/L)]
903  2.801      0.728   2.226      0      2  0.736               3.109
904  3.652      0.872   0.867      2      3  3.983               4.040
905  3.763      0.916   0.878      0      6  2.918               4.818
906  2.831      1.393   1.077      0      1  0.906               5.317
907  4.057      1.032   1.183      1      3  4.754               8.201

In [9]:
data.isnull().sum()

CIC0                  0
SM1_Dz(Z)             0
GATS1i                0
NdsCH                 0
NdssC                 0
MLOGP                 0
LC50 [-LOG(mol/L)]    0
dtype: int64

In [10]:
data.describe()

             CIC0   SM1_Dz(Z)  ...       MLOGP  LC50 [-LOG(mol/L)]
count  908.000000  908.000000  ...  908.000000          908.000000
mean     2.898129    0.628468  ...    2.109285            4.064431
std      0.756088    0.428459  ...    1.433181            1.455698
min      0.667000    0.000000  ...   -2.884000            0.053000
25%      2.347000    0.223000  ...    1.209000            3.151750
50%      2.934000    0.570000  ...    2.127000            3.987500
75%      3.407000    0.892750  ...    3.105000            4.907500
max      5.926000    2.171000  ...    6.515000            9.612000

[8 rows x 7 columns]

In [11]:
data.std()

CIC0                  0.756088
SM1_Dz(Z)             0.428459
GATS1i                0.394303
NdsCH                 0.605335
NdssC                 0.861279
MLOGP                 1.433181
LC50 [-LOG(mol/L)]    1.455698
dtype: float64

In [35]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit_transform(data)

array([[ 0.47887329,  0.46828848,  0.97036948, ...,  0.59748428,
        -0.45817453, -0.20237219],
       [-0.93840825, -0.11318414, -1.09263435, ..., -0.56421963,
        -0.53147852, -0.652576  ],
       [-1.02310108,  0.02225928, -1.173835  , ..., -0.56421963,
        -0.53147852, -0.36664503],
       ...,
       [ 1.14450599,  0.67145361, -1.05457155, ...,  6.40600388,
         0.56459064,  0.5179539 ],
       [-0.08883332,  1.78535897, -0.54960505, ...,  0.59748428,
        -0.8400534 ,  0.86093359],
       [ 1.53356366,  0.94234045, -0.28062792, ...,  2.92089212,
         1.84636323,  2.84320501]])

In [41]:
X = data.iloc[:,:-1].values
Y = data.iloc[:,-1].values
print(X)

[[3.26  0.829 1.676 0.    1.    1.453]
 [2.189 0.58  0.863 0.    0.    1.348]
 [2.125 0.638 0.831 0.    0.    1.348]
 ...
 [3.763 0.916 0.878 0.    6.    2.918]
 [2.831 1.393 1.077 0.    1.    0.906]
 [4.057 1.032 1.183 1.    3.    4.754]]

In [42]:
print(Y)

[3.77  3.115 3.531 3.51  5.39  1.819 3.947 3.513 4.402 3.021 3.21  2.371
 3.919 3.03  2.736 2.157 2.413 0.898 0.45  3.733 2.976 6.535 5.643 4.629
 4.838 4.081 3.436 3.45  1.102 4.257 5.386 3.393 1.308 3.554 2.269 4.165
 5.896 4.829 4.59  2.092 3.665 3.56  4.805 3.174 7.899 2.67  4.016 3.857
 5.522 4.851 3.84  4.586 5.284 3.559 4.091 4.33  3.755 4.552 3.62  4.459
 2.827 6.38  4.786 3.861 3.262 6.297 3.546 2.92  3.203 2.283 1.559 3.47
 4.748 2.576 5.259 4.564 4.37  0.053 2.381 2.891 1.088 3.721 3.701 6.083
 4.628 3.7   1.842 3.396 2.99  3.573 2.271 2.085 3.822 3.29  3.84  3.979
 3.47  3.314 4.031 4.74  4.194 3.447 2.364 3.645 2.07  2.27  3.513 2.811
 2.832 1.639 2.016 1.651 4.097 3.123 3.231 5.052 3.572 2.436 2.567 1.795
 5.072 2.156 1.037 1.932 2.505 1.524 3.048 5.115 2.856 4.366 4.976 2.94
 4.538 3.391 2.692 3.825 3.206 1.78  0.533 3.299 2.914 1.18  3.168 3.446
 3.496 4.68  3.252 2.98  3.936 5.47  1.842 0.15  3.736 3.719 1.749 3.507
 3.979 5.363 4.396 3.984 1.02  2.973 3.182 5.055 4.822 0.33  4.819 5.219
 5.268 3.139 2.858 4.191 4.416 3.537 4.38  1.408 2.936 8.471 5.861 5.574
 3.852 5.244 2.548 5.276 3.924 6.379 4.705 4.96  3.766 3.641 4.108 4.42
 5.29  2.392 3.87  5.642 4.287 4.79  4.296 6.607 3.759 3.278 3.118 3.237
 3.267 3.933 4.486 4.305 3.927 4.35  4.809 4.499 4.65  2.604 3.629 4.07
 2.93  3.727 3.095 6.4   2.65  2.851 4.208 3.654 3.81  0.931 3.178 6.255
 2.732 4.448 1.086 2.586 2.117 3.955 4.278 3.112 6.897 6.424 5.78  1.05
 3.926 6.284 3.451 3.477 4.967 5.985 6.351 6.207 4.68  4.475 3.24  5.478
 4.62  5.048 7.045 1.307 2.149 3.025 2.425 9.612 1.771 4.603 5.311 4.713
 4.32  4.051 1.47  2.583 2.474 4.51  3.007 2.84  4.557 3.604 6.564 4.41
 5.38  6.113 3.374 3.109 2.451 5.395 4.109 3.25  4.767 5.012 2.739 7.809
 4.338 4.182 1.134 5.178 3.219 3.11  3.07  2.883 4.451 2.924 5.339 2.226
 6.5   4.732 1.234 6.233 2.107 4.47  5.678 3.046 4.92  2.782 5.229 4.737
 4.342 7.691 4.727 3.979 5.51  6.143 2.115 5.189 5.383 4.557 5.184 4.886
 5.434 5.632 6.317 2.74  6.525 5.82  3.889 4.095 5.052 4.368 5.568 4.458
 3.458 5.667 4.544 6.347 2.608 5.18  3.779 5.029 4.697 4.674 4.384 7.346
 2.395 3.638 6.54  3.38  4.961 3.603 3.842 4.116 5.73  4.38  4.182 3.841
 3.726 4.208 4.305 8.571 4.425 3.328 3.77  4.512 5.653 3.775 3.599 3.757
 3.623 4.22  5.63  3.1   3.298 4.064 3.691 4.635 5.472 4.577 5.147 3.112
 5.278 4.891 4.32  4.295 3.926 8.207 4.154 3.57  1.812 5.68  2.961 6.72
 6.484 5.039 4.169 5.393 6.314 5.087 2.44  3.588 4.508 6.018 4.854 6.023
 5.062 3.463 5.018 7.382 4.043 4.117 3.838 4.244 5.558 4.239 6.171 4.739
 4.215 5.262 5.933 4.811 5.19  3.656 6.047 5.999 4.136 2.069 3.297 5.303
 2.941 5.93  3.696 5.86  4.119 6.038 4.951 6.213 3.555 4.739 6.258 6.784
 3.751 6.569 6.882 8.132 1.153 3.36  4.227 4.269 3.782 3.854 8.169 5.63
 4.777 3.903 5.65  5.159 6.645 6.446 4.865 5.066 3.895 2.056 3.601 4.257
 5.002 2.286 4.96  3.598 3.608 5.277 3.513 3.387 3.141 3.528 3.18  5.307
 4.302 3.518 1.055 5.752 3.086 3.521 3.926 3.168 2.692 3.974 2.715 2.681
 7.429 4.424 3.815 3.662 3.481 4.224 1.231 1.301 4.539 4.075 5.104 4.513
 1.647 7.64  4.912 4.02  5.449 3.42  3.36  4.565 2.474 4.798 5.007 4.369
 4.938 3.397 1.969 2.551 3.075 4.263 5.05  4.61  4.469 4.559 2.12  2.263
 4.963 4.919 3.289 3.379 4.021 4.77  4.41  6.148 4.175 5.767 5.677 3.151
 5.318 3.007 3.742 5.341 5.466 1.999 4.247 3.874 2.983 6.483 6.064 3.884
 3.66  3.423 0.242 3.799 5.412 5.758 3.666 3.751 3.799 3.21  6.195 6.551
 5.352 2.264 5.385 4.762 5.541 3.025 3.651 3.569 3.22  4.286 2.745 4.423
 2.369 3.614 3.727 5.741 6.384 2.487 3.689 3.806 1.462 5.538 2.853 5.005
 3.483 3.991 3.812 4.664 6.72  6.006 5.591 5.083 4.33  4.947 3.917 3.661
 3.594 4.393 4.856 3.846 5.194 4.63  3.91  3.932 5.146 3.391 3.882 3.787
 3.097 3.078 2.445 4.796 1.897 4.906 4.473 3.459 2.126 1.68  6.652 3.131
 4.62  3.03  2.072 3.746 6.087 5.086 4.759 2.412 4.446 3.499 3.327 5.361
 4.737 5.308 5.001 4.672 4.181 0.534 4.54  4.093 6.077 4.132 3.133 5.251
 4.399 4.002 3.757 2.569 4.828 2.319 4.706 4.632 0.778 0.855 0.361 5.242
 3.487 0.841 2.725 8.604 1.885 2.647 4.396 2.601 4.51  4.703 1.777 2.458
 2.618 2.015 5.842 7.287 6.665 3.009 3.513 3.393 9.354 4.208 3.976 4.832
 4.404 1.121 1.589 2.217 3.502 3.402 4.004 6.04  3.561 7.607 4.862 1.81
 5.192 3.046 5.912 4.593 6.634 4.804 2.3   1.399 3.076 2.72  2.856 3.272
 2.375 1.063 2.925 3.061 2.693 3.828 4.44  1.911 7.017 4.184 3.246 3.841
 4.465 3.782 2.975 7.591 0.89  3.407 2.182 1.906 4.422 3.693 5.689 2.686
 4.691 4.551 2.737 2.953 1.691 2.928 1.817 1.305 1.352 1.474 6.16  3.213
 3.47  2.766 2.269 3.916 4.577 5.44  3.715 5.95  4.691 5.264 4.81  3.416
 4.611 2.495 6.923 5.372 3.845 4.384 5.485 3.971 3.92  4.984 4.171 7.849
 4.578 4.377 6.6   4.116 5.49  5.367 4.711 5.224 4.284 5.292 2.758 2.689
 4.732 4.89  6.416 0.6   2.501 4.421 4.988 4.499 2.537 3.568 3.731 2.939
 6.236 6.298 3.522 4.73  3.789 4.672 4.75  4.725 4.199 4.849 4.538 4.507
 5.518 4.668 4.322 3.448 2.904 3.861 3.959 3.53  5.107 4.809 4.44  2.838
 3.411 3.288 4.247 5.169 2.895 5.348 4.208 3.984 3.665 4.561 4.628 2.839
 4.262 4.141 5.354 3.365 4.023 3.325 3.811 3.897 4.23  4.194 4.353 3.753
 3.12  3.995 4.192 3.92  4.54  4.743 4.332 1.935 4.989 5.815 5.192 6.644
 3.698 5.105 4.05  3.487 3.937 3.408 1.748 2.014 2.859 4.084 5.939 3.835
 3.66  3.46  3.769 4.463 4.279 2.87  3.615 3.022 3.575 2.55  3.66  5.303
 3.242 3.345 4.416 4.239 4.638 3.415 3.441 4.59  2.661 4.282 3.919 3.35
 5.749 8.916 3.13  6.683 8.433 3.529 6.093 2.494 3.017 6.238 6.183 3.152
 6.254 2.964 4.803 3.109 4.04  4.818 5.317 8.201]

In [43]:
regressor = LinearRegression()
X_train,Y_train,X_test,Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [44]:
regressor.fit(X_train,Y_train)

ValueError: ignored