In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
dataset = './dataset/qsar_fish_toxicity.csv'
data = pd.read_csv(dataset)

In [3]:
data.head()

    CIC0  SM1_Dz(Z)  GATS1i  NdsCH  NdssC  MLOGP  LC50 [-LOG(mol/L)]
0  3.260      0.829   1.676      0      1  1.453               3.770
1  2.189      0.580   0.863      0      0  1.348               3.115
2  2.125      0.638   0.831      0      0  1.348               3.531
3  3.027      0.331   1.472      1      0  1.807               3.510
4  2.094      0.827   0.860      0      0  1.886               5.390

In [4]:
column_names = list(data.columns)
column_names

['CIC0',
 'SM1_Dz(Z)',
 'GATS1i',
 'NdsCH',
 'NdssC',
 'MLOGP',
 'LC50 [-LOG(mol/L)]']

In [5]:
data.shape

(908, 7)

In [6]:
data.isnull().sum()

CIC0                  0
SM1_Dz(Z)             0
GATS1i                0
NdsCH                 0
NdssC                 0
MLOGP                 0
LC50 [-LOG(mol/L)]    0
dtype: int64

In [7]:
data.describe()

,CIC0,SM1_Dz(Z),GATS1i,NdsCH,NdssC,MLOGP,LC50 [-LOG(mol/L)]
count,908.000000,908.000000,908.000000,908.000000,908.000000,908.000000,908.000000
mean,2.898129,0.628468,1.293591,0.229075,0.485683,2.109285,4.064431
std,0.756088,0.428459,0.394303,0.605335,0.861279,1.433181,1.455698
min,0.667000,0.000000,0.396000,0.000000,0.000000,-2.884000,0.053000
25%,2.347000,0.223000,0.950750,0.000000,0.000000,1.209000,3.151750
50%,2.934000,0.570000,1.240500,0.000000,0.000000,2.127000,3.987500
75%,3.407000,0.892750,1.562250,0.000000,1.000000,3.105000,4.907500
max,5.926000,2.171000,2.920000,4.000000,6.000000,6.515000,9.612000

In [8]:
data.std()

CIC0                  0.756088
SM1_Dz(Z)             0.428459
GATS1i                0.394303
NdsCH                 0.605335
NdssC                 0.861279
MLOGP                 1.433181
LC50 [-LOG(mol/L)]    1.455698
dtype: float64

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data = scaler.fit_transform(data)

In [10]:
df = pd.DataFrame(data)

In [11]:
df.head()

          0         1         2         3         4         5         6
0  0.478873  0.468288  0.970369 -0.378635  0.597484 -0.458175 -0.202372
1 -0.938408 -0.113184 -1.092634 -0.378635 -0.564220 -0.531479 -0.652576
2 -1.023101  0.022259 -1.173835 -0.378635 -0.564220 -0.531479 -0.366645
3  0.170538 -0.694657  0.452715  1.274253 -0.564220 -0.211035 -0.381079
4 -1.064124  0.463618 -1.100247 -0.378635 -0.564220 -0.155883  0.911109

In [12]:
df.columns = column_names

In [13]:
df.head()

,CIC0,SM1_Dz(Z),GATS1i,NdsCH,NdssC,MLOGP,LC50 [-LOG(mol/L)]
0,0.478873,0.468288,0.970369,-0.378635,0.597484,-0.458175,-0.202372
1,-0.938408,-0.113184,-1.092634,-0.378635,-0.564220,-0.531479,-0.652576
2,-1.023101,0.022259,-1.173835,-0.378635,-0.564220,-0.531479,-0.366645
3,0.170538,-0.694657,0.452715,1.274253,-0.564220,-0.211035,-0.381079
4,-1.064124,0.463618,-1.100247,-0.378635,-0.564220,-0.155883,0.911109

In [14]:
X = df.drop(['LC50 [-LOG(mol/L)]'], axis=1)

In [15]:
X.head()

       CIC0  SM1_Dz(Z)    GATS1i     NdsCH     NdssC     MLOGP
0  0.478873   0.468288  0.970369 -0.378635  0.597484 -0.458175
1 -0.938408  -0.113184 -1.092634 -0.378635 -0.564220 -0.531479
2 -1.023101   0.022259 -1.173835 -0.378635 -0.564220 -0.531479
3  0.170538  -0.694657  0.452715  1.274253 -0.564220 -0.211035
4 -1.064124   0.463618 -1.100247 -0.378635 -0.564220 -0.155883

In [16]:
y = df['LC50 [-LOG(mol/L)]']

In [17]:
y.head()

0   -0.202372
1   -0.652576
2   -0.366645
3   -0.381079
4    0.911109
Name: LC50 [-LOG(mol/L)], dtype: float64

In [18]:
model = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [19]:
model.fit(X_train, y_train)

LinearRegression()